apiVersion: apps/v1
kind: Deployment
metadata:
  name: postservice
  namespace: feed
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postservice
  template:
    metadata:
      labels:
        app: postservice
    spec:
      containers:
        - name: postservice
          image: localhost/postservice:dev
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres:5432/postsdb
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: KEYCLOAK_ISSUER_URI
              value: http://keycloak:8080/realms/feed
            - name: KEYCLOAK_JWK_SET_URI
              value: http://keycloak:8080/realms/feed/protocol/openid-connect/certs
            - name: USERSERVICE_URL
              value: http://userservice:8082
